@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

// ============== variables =================

@colorDarkGrey: #525865;
@colorLight2xGrey: #ddd;
@colorLightGrey: #7D828C;
@colorWhite: #fff;
@colorYellow: #F7DB39;
@colorBlue: #24B6FF;
@colorRed: #FF2424;

@backgroundGreyInput: #F0F0F1;

@backgroundGrey: #5F6573;
@backgroundDarkGrey: #4E5360;

@fontSizeDefault: 18px;

.icon_size {
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 15px;
  transition: 0.3s ease;
}

button:focus {
  outline: none;
}

.button {
  width: 148px;
  height: 40px;
  font-size: @fontSizeDefault;
  color: @colorWhite !important;
  background: @colorBlue;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;

  &_red {
    font-size: @fontSizeDefault;
    width: 148px !important;
    height: 40px;
    background: @colorRed;
  }

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px);
  }
}

.subtitle {
  font-size: @fontSizeDefault + 8px;
  color: @colorRed;
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  font-size: @fontSizeDefault + 30px;
  font-weight: 700;
  color: @colorBlue;
  margin-bottom: 40px;
  margin-top: 50px;
  text-align: center;

  & span {
    color: @colorLightGrey;
  }
}

.text {
  font-size: @fontSizeDefault;
  line-height: 1.8;
}

.input {
  width: 100%;
  height: 40px;
  background: @colorWhite;
  border: 1px solid @colorLight2xGrey;
  border-radius: 20px;
  font-size: @fontSizeDefault - 2px;
  padding: 0 20px;

  &::placeholder {
    color: @colorDarkGrey;
    font-size: @fontSizeDefault - 2px;
    font-weight: 300;
  }

  &.textarea {
    padding-top: 20px;
    resize: none;
  }

}

// ============== variables =================

body {
  font-family: 'Exo 2', sans-serif;
  background: @colorWhite;
  font-size: @fontSizeDefault;
}

a {
  text-decoration: none;
  transition: 0.3s ease;

  &:hover {
    color: @colorBlue;
    text-decoration: none;
  }
}

p,ul,h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  color: @colorLightGrey;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1344px !important;
  padding: 0 15px;
  margin: 0 auto;
}

.c-dropdown {
	position: relative;
	display: inline-block;
	text-align: left;
  z-index: 10;

  &__list {
    margin:0;
    padding: 6px 0;
    list-style: none;
    position: absolute;
    top: 125%;
    left: 0;
    width: 100%;
    max-height: 135px;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    border-radius: 20px 4px 4px 20px;
    background: #fff;
    transition: opacity 0.25s linear, top 0.25s linear;
  }
  &.is-open &__list {
    opacity: 1;
    visibility: visible;
    top: 100%;
    border: 1px solid #efefef;
  }
  &__item {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    color: #434a54;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.25s linear;

    &:hover {
      background-color: #e6e9ed;
    }
  }
 }

/** * Component: Button * -------------------------------------------------- */
.c-button {
	-webkit-appearance: none;
	margin: 0;
	border: 0;
	overflow: visible;
	font: inherit;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
  user-select: none;

  &:hover, .c-button:focus {
    outline: none;
    text-decoration: none;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
  &--dropdown {
    width: 210px;
    height: 40px;
    padding: 6px 20px;
    background-color: #fff;
    color: #444;
    font-size: 14px;
    line-height: 26px;
    min-height: 32px;
    border-radius: 20px;
    text-align: left;
    transition: background-color 0.2s linear;

    &:after {
      content: "";
      background: url(../img/arrow-bottom.svg) no-repeat center / contain;
      position: absolute;
      top: 10px;
      right: 11px;
      width: 20px;
      height: 20px;
      border: 5px solid transparent;
    }
  }
}


.page-header {

  & ::-webkit-scrollbar {
    height: 1px;
    width: 4px;
  }
  & ::-webkit-scrollbar-track {
    background-color: @colorBlue;
    border-radius: 50px;
  }
  & ::-webkit-scrollbar-track-piece {
    background-color: @colorWhite;
    border-radius: 50px;
  }
  & ::-webkit-scrollbar-thumb {
    background-color: @colorBlue;
    border-radius: 50px;
  }
  & ::-webkit-scrollbar-corner {
    background-color: @colorWhite;
    border-radius: 50px;
  }
  & ::-webkit-resizer {
    background-color: @colorWhite;
    border-radius: 50px;
  }

  &__top {
    background: @backgroundDarkGrey;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 25px;

    &-link {
      color: @colorWhite;
      font-size: @fontSizeDefault;
      padding: 12px 0;
      display: block;

      &:hover {
        color: @colorBlue;
      }
    }
  }

  &__bottom {
    background: @backgroundGrey;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;

    &-logo {
      background: url(../img/logo-header.svg) no-repeat center / contain;
      width: 225px;
      height: 50px;
      display: block;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;

    &-category {
      border-radius: 20px 0 0 20px;
      font-size: @fontSizeDefault - 2px;
      color: @colorDarkGrey;
      width: 145px;
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        background: #BDC0C5;
        position: absolute;
        top: 8px;
        right: 0;
        width: 1px;
        height: 23px;
      }
    }

    &-city {
      margin: 0 10px;
    }
  }

  &__block {

    &-input {
      border: 0;
      border-radius: 0 20px 20px 0;
      height: 40px;
      padding: 0 20px;
      position: relative;
      left: -1px;

      &::placeholder {
        font-size: @fontSizeDefault - 2px;
        color: @colorDarkGrey;
      }
    }
  }

  &__feedback {
    display: flex;
    flex-wrap: wrap;

    &-button {
      width: 102px;
    }
  }

  &__user {
    color: @colorYellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    &-icon {
      background: url(../img/user.svg) no-repeat center / contain;
      width: 16px;
      height: 16px;
      margin-right: 14px;
    }

    &-link {
      color: @colorYellow;
    }
  }
}

.promo {
  background: linear-gradient(90deg, #24B6FF, #2591CC);
  width: 100%;
  height: 560px;
  color: @colorBlue;
  position: relative;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
  }

  &-title {
    font-size: @fontSizeDefault + 36px;
    color: @colorWhite;
    width: 40%;
    z-index: 10;
  }

  &-image {
    background: url(../img/promo.svg) no-repeat top / contain;
    width: 72%;
    height: 560px;
    position: absolute;
    top: 0;
    right: 120px;
  }
}

.premium {
  margin-bottom: 90px;

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    width: 31%;
    height: 240px;
    position: relative;

    &:not(:nth-child(3n + 3)) {
      margin-right: 3.5%;
    }

    &:hover  .premium__image {
      filter: blur(5px);
    }

    &:hover .premium__hover {
      font-size: @fontSizeDefault + 6px;
      color: @colorWhite;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 1.2;
      font-weight: 600;
      width: 100%;
      height: 100%;
      background: rgba(36, 182, 255, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 1;
      pointer-events: auto;
    }

    &:hover .premium__flag {
      transform: scale(1.2);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: 0.3s ease;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__hover {
    font-size: @fontSizeDefault + 6px;
    color: @colorWhite;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.2;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background: rgba(36, 182, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;

    &-text {
      padding: 0 15px;
    }
  }

  &__flag {
    background: #9B39A6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: absolute;
    top: 20px;
    left: -20px;
    border-radius: 20px 0 0 20px;
    transition: 0.3s ease;

    &:after {
      content: '';
      background: #780089;
      position: absolute;
      top: 0;
      right: -20px;
      width: 20px;
      height: 40px;
      border-radius: 0 20px 20px 0;
    }

    &-text {
      color: @colorWhite;
      font-size: @fontSizeDefault - 4px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 20px;
    }
  }
}

::selection{color: white;}
.parallax > use{
  animation:move-forever 12s linear infinite;
  &:nth-child(1){animation-delay:-2s;}
}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)}
}

.editorial {
  display: block;
  width: 100%;
  height: 8em;
  max-height: 110px;
  margin: 0;
  z-index: 10;
  position: absolute;
  bottom: -15px;

  &_footer {
    bottom: initial;
    top: -109px;
  }
}

.about {
  margin-bottom: 170px;
}

.page-footer {
  background: @backgroundGrey;
  padding: 0 0 30px 0;
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      background: url(../img/logo-header.svg) no-repeat center / contain;
      width: 220px;
      height: 50px;
    }
  }

  &__social {

    &-text {
      font-size: @fontSizeDefault - 2px;
      color: @colorWhite;
      margin-bottom: 20px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
      width: 24px;
      height: 24px;
      display: flex;

      &_vk {
        background: url(../img/vk-blue.svg) no-repeat center / contain;
      }

      &_fb {
        background: url(../img/fb-blue.svg) no-repeat center / contain;
      }

      &_inst {
        background: url(../img/inst-blue.svg) no-repeat center / contain;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 63px;
  }

  &__side {
    font-size: @fontSizeDefault - 4px;
    color: @colorWhite;

    &:nth-child(2) {
      color: @colorYellow;
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease;

      &:hover {
        color: @colorWhite;
        border-bottom: 1px solid @colorWhite;
      }
    }

    &-link {
      color: @colorWhite;
    }
  }
}


// NEWS==================================


.broad {
  margin-top: 45px;

  &__block {

    &-text {
      font-size: @fontSizeDefault - 2px;
      color: #A8ABB1;
      font-weight: 400;
      margin-right: 20px;
      position: relative;
    }

    &-active {
      color: @colorBlue;
    }
    &-text:not(:last-child):after {
      content: '/';
      position: absolute;
      top: 1px;
      right: -15px;
    }
  }
}

.news {
  margin: 50px 0 180px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &-aside {
    width: 32%;

    &-title {
      font-size: @fontSizeDefault + 14px;
      color: @backgroundGrey;
      margin-bottom: 40px;
    }
  }

  & .nav-pills .nav-link.active, & .nav-pills .show>.nav-link {
    background: @colorBlue;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    line-height: 1.3;
  }

  &__nav {

    &-item {
      background: @colorWhite;
      border: 1px solid @colorBlue;
      border-radius: 20px;
      width: 48%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:first-child {
        margin-right: 4%;
      }
    }

    &-link {
      text-align: center;
      color: @colorBlue;
      width: 100%;
      height: 40px;
      border-radius: 20px;
      line-height: 1.3;
    }
  }

  &__tab {

    &-content {
      margin-top: 33px;
    }
  }

  & .as_form__checkbox {
    display: none;
  }

  & .as_form__agree {
    cursor: pointer;
    display: flex;
    margin-bottom: 0;
    padding-bottom: 24px;
    width: 100%;
  }

  & .as_form__checkbox-custom {
    position: relative;
    width: 24px;
    height: 24px;
    background: #F0F0F1;
    cursor: pointer;
    border-radius: 4px;
  }

  & .as_form__checkbox:checked + .as_form__checkbox-custom::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 6px;
    background: url(../img/check.svg) no-repeat center / contain;
    cursor: pointer;
    z-index: 1;
  }

  & .as_form__checkbox:checked + .as_form__checkbox-custom::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: #9B39A6;
    cursor: pointer;
  }

  & .as_form__checkbox-custom,
  & .as_form__check {
    display: inline-block;
    margin-right: 18px;
  }

  & .as_form__check {
    width: 80%;
    font-size: @fontSizeDefault;
    color: @colorDarkGrey;
    line-height: 1.2;
  }


  & .advice-sort__item {
    margin-bottom: 30px;
  }

  & .advice-sort__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    width: 66%;

    &__filter {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;
      z-index: 100;
      position: relative;
      background: #fff;

      &-button {
        background: transparent;
        border: 1px solid @colorBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        margin-right: 10px;

        &:hover {
          background: @colorBlue;
        }

        &:hover &_icon {
          background: url(../img/filter-active.svg) no-repeat center / contain;
          width: 16px;
          height: 16px;
        }

        &_icon {
          background: url(../img/filter.svg) no-repeat center / contain;
          width: 16px;
          height: 16px;
          transition: 0.3s ease;
        }

        &.active {
          background: @colorBlue;

          & .news-content__filter-button_icon {
            background: url(../img/filter-active.svg) no-repeat center / contain;
            width: 16px;
            height: 16px;
          }
        }
      }

      &-text {
        font-size: @fontSizeDefault - 2px;
        color: @colorDarkGrey;
      }
    }

    &__feedback {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      transition: 0.3s ease;
      margin-top: -60px;
      opacity: 0;
      pointer-events: none;

      &.opencontent {
        margin-top: 0;
        opacity: 1;
        pointer-events: auto;
      }

    }

    &__catalog {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 48%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 40px;

      &:not(:nth-child(2n + 2)) {
        margin-right: 4%;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &-heart {
        background: url(../img/heart.svg) no-repeat center / contain;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:active {
          background: url(../img/heart-active.svg) no-repeat center / contain;
        }
      }
    }

    &__image {

      &-pic {
        width: 100%;
        height: 240px;
        object-fit: cover;
      }
    }

    &__top {

      &-title {
        font-size: @fontSizeDefault + 5px;
        color: @colorDarkGrey;
        line-height: 1.3;
        display: block;
        padding: 20px 0;
      }
    }

    &__info {

      &-text {
        font-size: @fontSizeDefault;
        font-weight: 300;
        color: @colorLightGrey;
      }
    }

    &__pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 290px;
    }

    &__arrow {

      &-text {
        width: 8px;
        height: 8px;
        display: block;
        transition: 0s;

        &_left {
          background: url(../img/arrow-black.svg) no-repeat center / contain;

          &:hover {
            background: url(../img/arrow-blue.svg) no-repeat center / contain;
            transform: rotate(180deg);
          }
        }

        &_right {
          background: url(../img/arrow-black.svg) no-repeat center / contain;
          transform: rotate(180deg);

          &:hover {
            background: url(../img/arrow-blue.svg) no-repeat center / contain;
            transform: rotate(0);
          }
        }
      }
    }

    &__page {

      &.active {
        background: @colorBlue;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;


        & .news-content__page-text {
          color: @colorWhite;
        }
      }

      &-text {
        font-size: @fontSizeDefault;
        color: @backgroundGrey;
      }
    }
  }

  & .c-button--dropdown {
    background:#F0F0F1;
    font-size: @fontSizeDefault - 2px;
  }

  & .c-dropdown:not(:last-child) {
    width: 35%;

    & .c-button--dropdown {
      width: 100%;
    }
  }

  & .c-dropdown:last-child {
    width: 25%;

    & .c-button--dropdown {
      width: 100%;
    }
  }
}


//NEWS__DETAIL =======================


.detail {
  margin-bottom: 140px;

  &-title {
    font-size: @fontSizeDefault + 14px;
    color: @backgroundGrey;
    margin:40px 0;
  }

  &__product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__image {
    width: 418px;
    height: 240px;
    margin-right: 30px;

    &-pic {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }

  &__content {

    &-title {
      font-size: @fontSizeDefault;
      font-weight: 700;
      color: @colorDarkGrey;
      margin-bottom: 5px;

    }

    &-text {
      font-size: @fontSizeDefault;
      color: @colorLightGrey;
      margin-bottom: 5px;
    }
  }

  &-rating {
    font-size: @fontSizeDefault;
    font-weight: 700;
    color: @colorDarkGrey;
    margin: 20px 0 10px 0;

    &_catalog {
      margin: 45px 0 40px 0;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    margin-top: 40px;

    &-btn {
      width: 204px;
      font-size: @fontSizeDefault - 2px;

      &_2 {
        margin-left: 10px;
        background: transparent;
        color: @colorBlue !important;
        border: 1px solid @colorBlue;
      }
    }
  }

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &__item {
    width: 31%;

    &:not(:nth-child(3n + 3)) {
      margin-right: 4%;
    }
  }

  & .detail__item {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:nth-child(2n + 2)) {
      margin-right: 0%;
    }

    &:not(:nth-child(3n + 3)) {
      margin-right: 2%;
    }
  }
}

.star-rating {
  width: 220px;
  height: 52px;
}

.rating {
  border: none;
  margin:0px;
  margin-bottom: 18px;
  float: left;
}

.rating > input {
  display: none;
}

.rating.star > label {
  color: #9e9e9e;
  margin: 1px 3px 0px 0px;
  background-color: #ffffff;
  border-radius: 0;
  height: 32px;
  float: right;
  width: 40px;
  border: 1px solid #ffffff;
}
fieldset.rating.star > label:before {
  margin-top: 0;
  padding: 0px;
  font-size:32px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  position: relative;
  top: 0px;
}
.rating > label:before {
  margin-top: 2px;
  padding: 5px 16px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}
.rating > .half:before {
  content: "\f005";
  position: absolute;
}
.rating.star > label{
  background-color: transparent !important;
}
.rating > label {
  color: #fff;
  margin: 1px 11px 0px 0px;
  background-color: #9e9e9e;
  border-radius: 2px;
  height: 16px;
  float: right;
  width: 16px;
  border: 1px solid #c1c0c0;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	background-color:#F7DB39!important;
  cursor:pointer;
}

.rating > input:checked + label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
	background-color:#F7DB39!important;
  cursor:pointer;
}
.rating.star:not(:checked) > label:hover,
.rating.star:not(:checked) > label:hover ~ label {
  color:#F7DB39!important;
  background-color: transparent !important;
  cursor:pointer;
}

.rating.star > input:checked + label:hover,
.rating.star > label:hover ~ input:checked ~ label,
.rating.star > input:checked ~ label:hover ~ label {
  color:#F7DB39!important;
  cursor:pointer;
  background-color: transparent !important;
}
.star_rating{
  width: 140px;
  margin: 0 auto;
  border: 1px solid #F7DB39;
  padding: 3px 30px 72px 35px;
  box-shadow: 0 0 15px #F7DB39;
  margin-top: 2%;
  border-radius: 14px;
}
.star_rating h2 {
  font-size: 27px;
  text-transform: uppercase;
}
.star_rating p {
  font-size: 17px;
  color: #9e9e9e;
  clear: both;
  margin-bottom: 3px;
}
.star_rating h4 {
  font-size: 17px;
  color: #9e9e9e;
  clear: both;
  margin-bottom: 3px;
  border-top: 2px solid #F7DB39;
  padding-top: 16px;
  text-align: center;
}




// NEWS_INFO====================


.product {

  &-detail {
    padding: 40px 0 300px 0;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &__left {
      width: 32%;
    }

    &__right {
      width: 66%;
    }

    & .news-content__bottom {
      margin: 48px 0;
    }

    &__buttons {

      &-btn {
        width: 100%;
        margin-bottom: 10px;

        &:not(:first-child) {
          background: transparent;
          border: 1px solid @colorBlue;
          color: @colorBlue !important;
        }
      }
    }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &-title {
        font-size: @fontSizeDefault + 14px;
        color: @backgroundGrey;
      }
    }

    &__favorites {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &-text {
        font-size: @fontSizeDefault - 2px;
        margin-right: 20px;
      }

      &-heart {
        background: url(../img/heart.svg) no-repeat center / contain;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:active {
          background: url(../img/heart-active.svg) no-repeat center / contain;
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
    }

    &-text {
      margin: 40px 0;
    }

    &__lot {

      &-title {
        font-size: @fontSizeDefault;
        color: @colorDarkGrey;
        font-weight: 600;
      }

      &-number {
        font-size: @fontSizeDefault + 30px;
        color: @colorBlue;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 40px;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 30px;

      &-text {
        color: #A8ABB1;
        width: 59%;
      }

      &-btn {
        width: 194px;
        height: 32px;
        background: transparent;
        font-size: @fontSizeDefault - 4px;
        border: 1px solid @colorBlue;
        color: @colorBlue !important;
        line-height: 1;
      }
    }
  }
}

.carousel-cell {

  &:not(:last-child) .interesting__image_mini {
    margin-right: 30px;
  }
}

.carousel-nav_big {
  margin-top: 20px;

  & .flickity-button {
    display: none;
  }
}

.flickity-prev-next-button {
  display: none;
}

.interesting {

  &__slider {
    position: relative;
    width: 100%;

    & .flickity-viewport {
      overflow: hidden;
    }
  }

  &__image {

    &-pic {
      width: 418px;
      height: 240px;
      object-fit: cover;
      margin: 0 10px;
    }

    &_mini {

      &-pic {
        width: 82px;
        height: 47px;
        object-fit: cover;
      }
    }


    &__slider .flickity-viewport {
      overflow: hidden;
    }

    &__slider {
      width: 100%;
    }
  }

  & .flickity-page-dots {
    margin-bottom: 30px;
  }
}

// ABOUT =============


.page-about {
  margin-bottom: 170px;

  &-title {
    text-align: left;
  }

  &-subtitle {
    font-size: @fontSizeDefault + 14px;
    color: @backgroundGrey;
  }
}


// ARTICLES =============



.articles {
  margin-bottom: 180px;

  &-subtitle {
    font-size: @fontSizeDefault + 14px;
    color: @backgroundGrey;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }

  & .detail__item {
    width: 32%;
    margin-bottom: 20px;

    &:not(:nth-child(3n + 3)) {
      margin-right: 2%;
    }
  }

  &__pagination {
    margin: 0 auto;
  }
}


// HELP =============




.help {
  padding-bottom: 140px;

  &__form {
    margin-top: 45px;
  }

  &-subtitle {
    font-size: @fontSizeDefault + 14px;
    color: @backgroundGrey;
  }

  &__item {
    margin-bottom: 24px;

    &-label {
      width: 100%;
      padding-left: 20px;
      font-size: @fontSizeDefault - 2px;
    }

    &-input {
      width: 49%;
      padding-left: 20px;
      color: @colorLightGrey;
      font-size: @fontSizeDefault - 2px;
      background: @backgroundGreyInput;
      padding: 0 20px;
      height: 40px;
      border: 0;
      border-radius: 20px;

      &::placeholder {
        color: @colorLightGrey;
        font-size: @fontSizeDefault - 2px;
      }
    }

    &-button {
      width: 194px;
    }
  }
}




// REGISTRATION =============




.registration {

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    & .help__item-input {
      width: 100%;
    }

    &__tab.tab {
      width: 49%;
      pointer-events: none;
      opacity: 0.2;
      transition: 0.3s ease;

      &.is-active {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &-nav {

    &__item {
      width: 49%;

      &.is-active {

        & .registration-nav__button-radio:after {
          content: '';
          background: @colorBlue;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: 5px;
        }

        & .registration-nav__button-text {
          color: #525865;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      &-radio {
        background: @backgroundGreyInput;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: relative;
        margin-right: 18px;
      }

      &-text {
        color: #BDC0C5;
      }
    }
  }
}




// LK =======================

.lk {

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-button {
      display: none;
    }

    & .nav-pills .nav-link.active,
    & .nav-pills .show>.nav-link {
      background-color: transparent;
      color: @colorBlue;

      &:after {
        content: '';
        background: @colorBlue;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        left: 0;
      }
    }

    &-text {
      font-size: @fontSizeDefault;
      color: @colorDarkGrey;
      margin-bottom: 23px;
      font-weight: 600;

      &:not(:first-child) {
        margin-top: 44px;
      }
    }

    &-btn {
      width: 224px;
      margin: 40px 0;
    }
  }

  &__left {
    width: 23%;

    &-reviews {
      background: url(../img/reviews.jpg) no-repeat center / cover;
      width: 100%;
      height: 500px;
    }
  }

  &__right {
    width: 75%;

    & .help__item-input {
      width: 100%;
    }

    & .help__form {
      margin-top: 0;
      width: 642px;
    }
  }



  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;

    &-link {
      color: @colorDarkGrey;
      position: relative;
      padding-left: 30px;

      &:after {
        content: '';
        background: #BDC0C5;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 17px;
        left: 0;
      }
    }
  }

  &__files {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-text {
      width: 77%;
    }
  }

  &-button {
    width: 400px;
    height: 90px;
    margin-top: 40px;
  }

  &__catalog {
    display: flex;
    flex-wrap: wrap;

    & .detail__item {
      width: 31%;

      &:not(:nth-child(3n + 3)) {
        margin-right: 3.5%;
      }
    }

    & .news-content__top-title {
      font-size: @fontSizeDefault - 2px;
    }

    & .news-content__image {
      height: 176px;

      & .news-content__image-pic {
        width: 100%;
        height: 100%;
      }
    }

    & .detail__item {
      margin-bottom: 40px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-btn {
      width: 48%;
      font-size: @fontSizeDefault - 4px;

      &_2 {
        background: @colorRed;
      }
    }
  }


}

.label-file {
  width: 230px;
  background: @colorBlue;
  height: 40px;

  & input {
    display: none;
  }

  & span {
    color: #fff;
    font-size: @fontSizeDefault - 2px;
  }

  & label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 12px;
    overflow: hidden;
  }
}



















@media screen and (max-width: 1440px) {
  .promo-image {
    width: 92%;
    height: 470px;
    right: 0px;
    background-size: cover;
  }

  .premium {

    &__container {
      padding: 0 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .page-header__user {
    margin-right: 30px;
    margin-top: 20px;
  }

  .promo {

    &__container {
      height: 100%;
    }

    &-title {
      width: 60%;
    }
  }
}

@media screen and (max-width: 992px) {
  .page-header {

    &__user {
      order: 1;
      margin: 0;
    }

    &__feedback {
      margin-right: 20px;
      margin-top: 20px;
      order: 2;
    }
  }

  .premium {

    &__item {
      width: 48%;
      margin-bottom: 30px;

      &:not(:nth-child(3n + 3)) {
        margin-right: 0;
      }

      &:not(:nth-child(2n + 2)) {
        margin-right: 4%;
      }
    }
  }

  .news__container {
    flex-direction: column;
  }

  .news-aside {
    width: 100%;
  }

  .news-content {
    width: 100%;
  }

  .detail {

    &__content {
      width: 39%;
    }

    & .detail__item {
      width: 48%;
      margin-bottom: 40px;

      &:not(:nth-child(3n + 3)) {
        margin-right: 0;
      }

      &:not(:nth-child(2n + 2)) {
        margin-right: 4%;
      }
    }
  }

  .product-detail {
    &__left {
      width: 47%;
    }

    & .interesting__image-pic {
      width: 450px;
    }

    &__right {
      width: 50%;
    }

    &__favorites {
      margin-top: 20px;
    }

    &__bottom-btn {
      margin-top: 20px;
    }
  }

  .articles {

    & .detail__item {
      width: 48%;

      &:not(:nth-child(3n + 3)) {
        margin-right: 0%;
      }

      &:not(:nth-child(2n + 2)) {
        margin-right: 4%;
      }
    }
  }

  .lk {

    &__left {
      width: 31%;
    }

    &__right {
      width: 67%;

      & .help__form {
        width: 100%;
      }
    }

    &__catalog {

      & .detail__item {
        width: 48%;

        &:not(:nth-child(3n + 3)) {
          margin-right: 0%;
        }

        &:not(:nth-child(2n + 2)) {
          margin-right: 4%;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .page-header {

    &__item-link {
      font-size: @fontSizeDefault - 3px;
    }

    &__block-input {
      margin-right: 100px;
      margin-bottom: 20px;
    }

    &__form-city {
      margin: 0 20px 0 0;
    }
  }

  .promo {
    height: 420px;

    &-image {
      width: 100%;
      height: 300px;
      right: 0px;
      background-size: cover;
    }

    &-title {
      width: 100%;
    }
  }

  .editorial {

    &_footer {
      top: -98px;
    }
  }

  .news {

    &-content__feedback {
      justify-content: flex-start;
      margin-top: -110px;
    }

    & .c-dropdown:not(:last-child) {
      width: 35%;
      margin-right: 20px;
    }

    & .c-dropdown:last-child {
      width: 35%;
      margin-top: 20px;
    }
  }

  .page-footer {
    padding: 15px 0 30px 0;
  }

  .detail {

    &__content {
      width: 100%;
      margin-top: 40px;
    }

    &__image {
      height: auto;
    }
  }

  .product-detail {
    padding: 40px 0 120px 0;

    &__container {
      flex-direction: column;
    }

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }
  }

  .articles {

    & .detail__item {
      width: 100%;

      &:not(:nth-child(2n + 2)) {
        margin-right: 0%;
      }
    }
  }

  .lk {

    &__flex {

      &-button {
        display: block;
        width: 250px;
        margin-bottom: 20px;
      }

      &-text_left {
        display: none;
      }
    }

    &__left {

      &-reviews {
        display: none;
      }
    }

    &__right {
      width: 100%;
    }

    &__left {
      width: 100%;
      margin-top: -250px;
      opacity: 0;
      pointer-events: none;
      transition: 0.3s ease;
      transform: rotateX(-90deg);
      transform-origin: 0 0;

      &.open-menu {
        margin-top: 0px;
        opacity: 1;
        pointer-events: auto;
        transform: rotateX(0);
      }
    }
  }

}

@media screen and (max-width: 575px) {
  .page-header {

    &__block-input {
      margin-right: 0px;
    }

    &__block {

      &-input {
        width: 60%;
      }
    }

    &__user {
      margin-right: 30px;
      margin-top: 20px;
    }

    &__nav {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 100;
      transition: 0.3s ease;

      &.openmenu {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__list {
      flex-direction: column;
      align-items: flex-end;
      padding: 40px 0 20px 0;
      background: @backgroundGrey;
    }

    &__item {
      margin-right: 10px;

      &-link {
        font-size: @fontSizeDefault + 6px;
      }
    }
  }

  .burger {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: 0.4s;
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .burger.activeburger {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease;
    z-index: 410;
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .burger-global {
    backface-visibility: hidden;
    position: absolute;
    border-top: 4px solid @colorWhite;
    border-radius: 2px;
    width: 100%;
    transition: 0.4s ease-out;
  }

  .burger-top {
    top: 0px;
    left: 0;
  }

  .burger-middle {
    top: 10px;
    left: 0;
  }

  .burger-bottom {
    top: 20px;
    left: 0;
  }

  .burger.activeburger .burger-top {
    transform: rotate(-225deg);
    top: 8px;
    border-top: 4px solid @colorWhite;
  }

  .burger.activeburger .burger-middle {
    opacity: 0;
  }

  .burger.activeburger .burger-bottom {
    transform: rotate(225deg);
    top: 8px;
    border-top: 4px solid @colorWhite;
  }

  .promo {
    height: 300px;

    &-image {
      height: 220px;
    }

    &-title {
      font-size: @fontSizeDefault + 20px;
    }
  }

  .premium {
    margin-bottom: 40px;

    &__item {
      width: 100%;

      &:not(:nth-child(2n + 2)) {
        margin-right: 0%;
      }
    }
  }

  .title {
    font-size: @fontSizeDefault + 14px;
  }

  .page-footer {
    padding: 40px 0 30px 0;

    &__social {
      margin-top: 20px;
    }

    &__top {
      flex-direction: column;
    }

    &__bottom {
      flex-direction: column;
      align-items: center;
    }
  }

  .editorial_footer {
    top: -71px;
  }

  .news {

    &-content__feedback {
      margin-top: -170px;
    }

    & .c-dropdown:not(:last-child) {
      width: 280px;
      margin-right: 0;
      margin-bottom: 20px;
    }

    & .c-dropdown:last-child {
      width: 280px;
      margin-top: 0;
    }

    & .as_form__check {
      font-size: @fontSizeDefault - 4px;
    }

    &-content__item {
      width: 100%;

      &:not(:nth-child(2n + 2)) {
        margin-right: 0;
      }
    }

    &-aside-title {
      font-size: @fontSizeDefault + 8px;
    }
  }

  .detail {

    &-title {
      font-size: @fontSizeDefault + 8px;
    }

    &__buttons {
      flex-direction: column;
      align-items: center;

      &-btn {
        margin-left: 0;
        margin-bottom: 10px;
        width: 70%;
      }
    }
  }

  .detail {

    & .detail__item {
      width: 100%;

      &:not(:nth-child(2n + 2)) {
        margin-right: 0%;
      }
    }
  }

  .help__item-input {
    width: 100%;
  }

  .registration {

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      & .help__item-input {
        width: 100%;
      }

      &__tab.tab {
        width: 100%;
        display: none;

        &.is-active {
          display: block;
        }
      }
    }

    &-nav__button {

      &-text {
        font-size: @fontSizeDefault - 2px;
        width: 70%;
      }
    }
  }

  .lk {

    &__files {
      flex-direction: column;
      align-items: flex-start;

      & .button {
        margin-top: 10px;
      }
    }

    &-button {
      width: 100%;
      height: 120px;
    }

    &__catalog {

      & .detail__item {
        width: 100%;

        &:not(:nth-child(2n + 2)) {
          margin-right: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .page-header {

    &__flex {

      &-logo {
        width: 280px;
        height: 65px;
      }
    }

    &__user {
      margin-top: 20px;
    }

    & .c-button {
      width: 280px;
      margin-bottom: 20px;
      border-radius: 20px;
    }

    &__block {

      &-input {
        width: 280px;
        border-radius: 20px;
      }
    }

    &__feedback-button {
      width: 280px;
    }
  }

  .promo {

    &-title {
      font-size: @fontSizeDefault + 10px;
    }
  }

  .title {
    font-size: @fontSizeDefault + 10px;
  }

  .editorial_footer {
    top: -53px;
  }

  .detail__image {
    width: 100%;
    margin-right: 0;
  }

  .registration__nav {
    flex-direction: column;
  }

  .registration-nav__item {
    width: 100%;
    margin-bottom: 20px;
  }
}
















/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width:50em){
  .content h1{font-size: 12vmax}
  .editorial{height:17vw;}
}
























